*{
  margin: 0;
  padding: 0;
  font-family: 'Montserrat', sans-serif;
  box-sizing: border-box;
}

.lg-wrapper {
  width: 100%;
  height: 80vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.lgw-content {
  display: flex;
  flex-direction: column;
  row-gap: 15px;
  box-shadow: 0px 2px 20px -3px #00000038;
  -webkit-box-shadow: 0px 2px 20px -3px #00000038;
  -moz-box-shadow: 0px 2px 20px -3px #00000038;
  width: 100%;
  max-width: 300px;
  margin: auto;
  border-radius: 5px;
  padding: 20px;
}

form.login-form .il-block {
  display: flex;
  flex-direction: column;
  row-gap: 5px;
  justify-content: space-between;
}

form.login-form{
  display: flex;
  flex-direction: column;
  row-gap: 5px;
}
.login-form input {
  height: 15px;
  background-color: #00000017;
}
.login-form button, .login-form input {
  padding: 5px;
  outline: none;
  border: none;
  border-radius: 2px;
  height: 30px;
}
.login-form button{
  cursor: pointer;
  background-color: #34a853;
  color: #fff;
}
.t-center{
  text-align: center;
}
.link-ns{
  color:#34a853;
  text-decoration: none;
}
.link-ns:hover{
  color:#34a853;
  text-decoration: underline;
}
.tc-n{
  text-decoration: none;
}
.link-ns-1{
  color:#34a853;
  text-decoration: none;
}
.link-ns-2{
  color:#000;
  text-decoration: none;
}
.home-content{
  margin-top: 70px;
}