.header-wrapper {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 50px;
    box-shadow: 0 5px 13px -4px rgb(0 0 0 / 26%);
    -webkit-box-shadow: 0 5px 13px -4px rgb(0 0 0 / 26%);
    -moz-box-shadow: 0 5px 13px -4px rgba(0,0,0,.25882352941176473);
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    z-index: 10;
}
.user-name{
    font-weight: 600;
}
.hi-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 15px;
    width: 100%;
}
.ttt-logo{
    font-weight: 600;
    color: #34a853;
}
.lg-btn{
    cursor: pointer;
}
.lg-btn:hover{
    color: #34a853;
}