.header-wrapper {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 50px;
    box-shadow: 0 5px 13px -4px rgb(0 0 0 / 26%);
    -webkit-box-shadow: 0 5px 13px -4px rgb(0 0 0 / 26%);
    -moz-box-shadow: 0 5px 13px -4px rgba(0,0,0,.25882352941176473);
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    z-index: 10;
}
.user-name{
    font-weight: 600;
}
.hi-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 15px;
    width: 100%;
}
.ttt-logo{
    font-weight: 600;
    color: #34a853;
}
.lg-btn{
    cursor: pointer;
}
.header-profile-image{
    position: relative;
    overflow: hidden;
    margin: auto;
    width: 100%;
    max-width: 60px;
}
.header-profile-image img {
    object-fit: cover;
    object-position: center;
    height: 40px;
    border-radius: 50%;
    width: 40px;
    border: 2px solid #ededed;
}
.header-options.hide{
    display: none;
}
.header-options.show {
    text-align: left !important;
    position: absolute;
    background-color: #fff;
    top: 47px;
    right: 15px;
    box-shadow: 0 5px 13px -4px rgb(0 0 0 / 26%);
    -webkit-box-shadow: 0 5px 13px -4px rgb(0 0 0 / 26%);
    -moz-box-shadow: 0 5px 13px -4px rgba(0,0,0,.25882352941176473);
    border-radius: 5px;
    padding: 10px;
    z-index: 20;
    width: 100%;
    max-width: 150px;
}
.h-option {
    padding: 5px;
    border-radius: 5px;
    margin: 2px 0;
}
.header-edit:hover, .header-logout:hover{
    background-color: rgba(141, 141, 141, 0.377);
}