.pt-wrapper{
    position: relative;
    width: 100%;
    height: 100px;
}
.pt {
    background-color: red;
    border-radius: 5px;
    width: fit-content;
    padding: 15px 20px;
    color: #FFF;
    font-weight: 800;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
    animation-duration: 0.5s;
    animation-timing-function: ease-in-out;
    animation-fill-mode: forwards;
    transition-duration: 0.3s;
    font-size: 20px;
}
.pt-wrapper.O .players-turn-x{
    transform: translate(50%, -50%);
    animation-name: left-out;
}
.pt-wrapper.X .players-turn-x{
    transform: translate(-50%, -50%);
    animation-name: left-in;
}
.pt-wrapper.X .players-turn-o{
    transform: translate(-50%, -50%);
    animation-name: right-out;
}
.pt-wrapper.O .players-turn-o{
    transform: translate(50%, -50%);
    animation-name: right-in;
}
.players-turn-o{
    right: -300px;
}
.players-turn-x{
    left: -300px;
}
.stop .pt{
    animation-name: unset !important;
}
@keyframes left-in{
    from {left: -100%;}
    to { left: 50%;}
}
@keyframes left-out {
    from {left: 50%;}
    to { left: -100%;}
}
@keyframes right-in{
    from {right: -100%;}
    to { right: 50%;}
}
@keyframes right-out {
    from {right: 50%;}
    to { right: -100%;}
}
.lobby-names {
    display: flex;
    margin: 20px auto;
    column-gap: 20px;
    justify-content: space-between;
    width: 100%;
    max-width: 350px;
}
/*Board Styles*/
.xo-board-wrapper {
    display: grid;
    grid-template-columns: repeat(auto-fit, calc(33% - 6px));
    grid-template-rows: repeat(auto-fit, calc(33% - 6px));
    grid-row: 3;
    font-weight: 600;
    width: 300px;
    height: 300px;
    margin: auto;
    column-gap: 10px;
    row-gap: 10px;
    color: #fff;
}
.owner-name, .opponent-name {
    width: 100%;
    color: #fff;
    padding: 13px 17px;
    border-radius: 5px;
    box-shadow: 0px 0px 7px 0px rgb(0 0 0 / 60%);
    -webkit-box-shadow: 0px 0px 7px 0px rgb(0 0 0 / 60%);
    -moz-box-shadow: 0px 0px 7px 0px rgb(0 0 0 / 60%);
}
.bg-opponent{
    background-color: #faae49;
}
.bg-owner{
    background-color: #00a8e9;
}
.xo-style {
    font-size: 35px;
    color: #000;
}
.owner-name h4, .opponent-name h4 {
    display: flex;
    align-items: center;
    column-gap: 12px;
}
.O:hover::after {
    content: 'O';
    color: #fff6;
}
.X:hover::after {
    content: 'X';
    color: #fff6;
}
.show:hover::after, .xo-next-round.X::after, .xo-next-round.O::after{
    content: '' !important;
    color: #fff;
}
.box:hover {
    box-shadow: 7px 8px 2px 1px #00000087;
    -webkit-box-shadow: 7px 8px 2px 1px #00000087;
    -moz-box-shadow: 7px 8px 2px 1px #00000087;
    transition-duration: 0.2s;
}
.box.show:hover {
    box-shadow: 7px 8px 2px 1px #00000061;
    -webkit-box-shadow: 7px 8px 2px 1px #00000061;
    -moz-box-shadow: 7px 8px 2px 1px #00000061;
    transition-duration: 0.2s;
}
.xo-ic {
    position: relative;
    width: 300px;
    height: 300px;
    margin: auto;
}
.xo-next-round {
    display: none;
}
.xo-next-round.O, .xo-next-round.X, .xo-next-round.Draw {
    display: flex;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    flex-direction: column;
    background-color: #000000ad;
    color: #fff;
    justify-content: center;
    align-items: center;
    padding: 0;
    row-gap: 10px;
    font-size: 23px;
    border-radius: 6px;
}

.score-board {
    display: flex;
    column-gap: 5px;
    justify-content: center;
    margin: 10px;
}
.score-board div {
    border-radius: 4px;
    padding: 10px 10px;
    font-weight: 600;
    color: #fff;
    box-shadow: 2px 2px 3px 1px #0000003d;
    -webkit-box-shadow: 2px 2px 3px 1px #0000003d;
    -moz-box-shadow: 2px 2px 3px 1px #0000003d;
}
.box {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #34a853;
    cursor: pointer;
    background-color: #34a853;
    border-radius: 6px;
    box-shadow: 7px 8px 2px 1px #00000061;
    -webkit-box-shadow: 7px 8px 2px 1px #00000061;
    -moz-box-shadow: 7px 8px 2px 1px #00000061;
    transition-duration: 0.2s;
    font-size: 75px;
}

h1, h4{
    text-align: center;
}
button.nxt-btn {
    padding: 8px 12px;
    border-radius: 5px;
    border: none;
    outline: none;
    background-color: #34a853;
    color: #fff;
    font-weight: 600;
    cursor: pointer;
    font-size: 16px;
    transition-duration: 0.2s;
}
button.nxt-btn:hover {
    background-color: #40d167;
    transition-duration: 0.2s;
}

.mlw-board h3{
    text-align: center;
}
.lobby-owner {
    background-color: #35bd59;
    color: #fff;
    padding: 5px 10px;
    border-radius: 5px;
    margin: auto;
    width: fit-content;
}